language: perl
install:
  - cpanm -n YAML
  - cpanm -n Clustericious::Config
  - cpanm -n Clustericious::Log
  - cpanm -n Data::Dumper
  - cpanm -n Digest::file
  - cpanm -n IO::Uncompress::Gunzip
  - cpanm -n Log::Log4perl
  - cpanm -n Log::Log4perl::CommandLine
  - cpanm -n Number::Bytes::Human
  - cpanm -n Yars
before_script:
  - perl util/travis.pl
  - yars start
script: HARNESS_IS_VERBOSE=1 YC_LIVE_TESTS=1 prove -lv t
after_script: yars stop
perl:
  - "5.16"
  - "5.14"
  - "5.12"
  - "5.10"
